<%= form_with model: article do |form| %>
  <p><%= form.label :title, 'Article title' %></p>
  <p><%= form.text_area :title, class: 'textfield' %></p>
  <p><%= form.label :body, 'Article body' %></p>
  <p><%= form.text_field :body %></p>
  <p><%= form.submit "#{action}" %></p>
<%end%>