<!DOCTYPE html>
<html>
  <head>
    <title>WebForum</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
      <div class="navbar">
        <div>
            <%= link_to 'Создать тему', new_article_path, class: 'button button-main', style: "color: black"%>
        </div>
        <div class="user-info" style="display: flex; align-items: center;">
          <% if current_user.present? %>
            <%= content_tag 'span', "@#{current_user.nickname}" %>
            <%= button_to 'Выйти из аккаунта', session_path, method: :delete, class: 'button button-main' %>
          <% else %>
            <%= link_to 'Зарегистрироваться', new_user_path, class: 'button button-main', style: "margin-right: 10px;"  %>
            <%= link_to 'Войти в аккаунт', new_session_path, class: 'button button-main' %>
          <% end %>
        </div>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
